	br {
		clear: both;
	}
	
	#board {
		margin: 40px;
		float: left;	
	}
	
	#board > div {
		border: 1px solid black;
		height: 60px;
		width: 60px;
		float: left;
	}
	
	#board .even {
		background: white;
	}
	
	#board .odd {
		background: black;
	}
	
	#board .possible {
		background: pink;
	}
	
	.piece {
		width: 80%;
		height: 80%;
		margin-left: 10%;
		margin-top: 10%;
		background-size: 150%;
		background-repeat: no-repeat;
	}
	
	/*******************************************/
	.pawn {
		background-image: url(/ui/js/chess-js/images/pawns.png);
	}
	
	.pawn.bottom {
		background-position: 6px;
	}
	
	.pawn.top {
		background-position: -32px;
	}
	
	/*******************************************/
	.rook {
		background-image: url(/ui/js/chess-js/images/rooks.png);
	}
	
	.rook.bottom {
		background-position: 10px;
	}
	
	.rook.top {
		background-position: -32px;
	}
	
	/*******************************************/
	.bishop {
		background-image: url(/ui/js/chess-js/images/bishops.png);
	}
	
	.bishop.bottom {
		background-position: 10px;
	}
	
	.bishop.top {
		background-position: -32px;
	}
	
	/*******************************************/
	.king {
		background-image: url(/ui/js/chess-js/images/kings.png);
	}
	
	.king.bottom {
		background-position: 10px;
	}
	
	.king.top {
		background-position: -32px;
	}
	
	/*******************************************/
	.queen {
		background-image: url(/ui/js/chess-js/images/queens.png);
	}
	
	.queen.bottom {
		background-position: 10px;
	}
	
	.queen.top {
		background-position: -32px;
	}
	
	/*******************************************/
	.knight {
		background-image: url(/ui/js/chess-js/images/knights.png);
	}
	
	.knight.bottom {
		background-position: 10px;
	}
	
	.knight.top {
		background-position: -32px;
	}
	
	/*******************************************/
	.prince {
		background-image: url(/ui/js/chess-js/images/princes.png);
	}
	
	.prince.bottom {
		background-position: 10px;
	}
	
	.prince.top {
		background-position: -32px;
	}
	
	div.piece.active {
		background-color: gray;
	}